﻿<h1>{{page.title}}</h1>
<p>{{page.description}}</p>

<form class="form-search">
    <div class="input-append">
        <input type="text" ng-model="search"placeholder="Search" class="form-control">
    </div>
    <ul>
        <li class="repeatBtn" ng-repeat="button in buttons | filter:search">
            <a href="#/"> {{button.text}} </a>
        </li>
    </ul>

</form>